/* Write your CSS here */

.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: Bree serif;
}
