/* Write your CSS here */

.RCB {
  background-color: #a4261d;
}

.KKR {
  background-color: #5755a7;
}

.KXP {
  background-color: #d91c1f;
}

.CSK {
  background-color: #f7db00;
}

.RR {
  background-color: #4f5db0;
}

.MI {
  background-color: #13418b;
}

.SH {
  background-color: #f26d22;
}

.DC {
  background-color: #4f5db0;
}

.complete-match-details-container {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 16px 20px;
}

.team-banner-image {
  width: 100%;
  border-radius: 15px;
}

.latest-matches-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: Bree Serif;
  font-weight: bold;
}

.match-card-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.loader-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}
